body 
{
    background-color: rgb(255, 255, 149);
    color: black;
    text-align: center;
}
h2
{
    color: rgb(36, 20, 255);
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-weight: 700;

}
p
{
    font-weight: 600;
    font-size: 18px;
}
button
{
    background-color: rgb(255, 65, 65);  
    height: 35px;
    width: 85px;
    font-size: 21px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
}
.footer
{
    position: fixed;
    color: black;
    bottom: 0;
    font-size: 18px;
    line-height: 3;
    width: 100%;
    background-color: white;
    text-shadow: 5px 5px 5px rgb(255, 0, 0);
}
